{{template "header"}}
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>礼物详细信息</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">仪表盘</a>
                </li>
                <li>
                
                    <a>福利管理</a>
                
                </li>
                
                <li class="active">
                    <strong>我的礼物</strong>
                </li>
                
            </ol>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class=" float-e-margins" id="all">
                    <div class="ibox-title">
                        <h5> 我的礼物</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                </div>
                    <div class="ibox-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <h1>该功能还在开发中，请耐心等待.....</h1>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{{template "footer"}}