{{template "header"}}
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">
            <h2>族人新增</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">仪表盘</a>
                </li>
                <li>
    
                    <a>信息管理</a>
    
                </li>
    
                <li class="active">
                    <strong>新增成员</strong>
                </li>
    
            </ol>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>新增族人信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" id="userForm" class="form-horizontal"  enctype="multipart/form-data" action="/api/person/add/" >
                            <div class="form-group  ">
                                <label for="name" class="col-sm-2 control-label">姓名<span
                                        class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="name" name="name" placeholder="例如：孙德先" type="text" class="form-control"
                                           value="" required="required">
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <label for="dadID" class="col-sm-2 control-label">父亲<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                        <select id="dadID" name="dadID" class="chosen-select form-control m-b" >
                                            
                                        </select>
                                        <span class="red-fonts">**如不存在或未发现请在下面填写名字，未知写不详**</span>
                                        <input id="dad" name="dad" placeholder="例如：孙德先" type="text" class="form-control"
                                        value="">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="mom" class="col-sm-2 control-label">母亲<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="mom" name="mom" placeholder="Name" type="text" class="form-control"
                                               value="">
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="sex" class="col-sm-2 control-label">性别<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <select id="sex" name="sex" class="form-control m-b">
                                        <option value="0" selected>男</option>
                                        <option value="1">女</option>
                                        <option value="2">不详</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="birthday" class="col-sm-2 control-label">出生年月<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="birthday" name="birthday" type="date" value="2014-04-16">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="status" class="col-sm-2 control-label">状态<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <select id="status" name="status" class="form-control m-b">
                                            <option value="0" selected>健在</option>
                                            <option value="1">已故</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="age" class="col-sm-2 control-label">年龄</label>
                                        <div class="col-sm-8">
                                            <input id="age" name="age" placeholder="请输入数字" type="text" class="form-control"
                                                   value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label for="idCard" class="col-sm-2 control-label">身份证号</label>
                                            <div class="col-sm-8">
                                                <input id="idCard" name="idCard" placeholder="例如：150426xxxxxxxx3755" type="text" class="form-control"
                                                       value="">
                                            </div>
                                        </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">手机</label>
                                <div class="col-sm-8">
                                    <input id="phone" name="phone" placeholder="例如：186xxxxxxxx" type="text" class="form-control"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wechat" class="col-sm-2 control-label">微信</label>
                                <div class="col-sm-8">
                                    <input id="wechat" name="wechat" placeholder="如知晓请输入微信号" type="text" class="form-control"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="fellowRank" class="col-sm-2 control-label">同胞行</label>
                                    <div class="col-sm-8">
                                        <input id="fellowRank" name="fellowRank" placeholder="请输入数字" type="number" class="form-control"
                                               value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                        <label for="compatriotRank" class="col-sm-2 control-label">同辈总行</label>
                                        <div class="col-sm-8">
                                            <input id="compatriotRank" name="compatriotRank" placeholder="请输入数字" type="number" class="form-control"
                                                   value="">
                                        </div>
                                    </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="parent" class="col-sm-2 control-label">个人简历</label>
                                <div class="col-sm-8">
                                    <textarea id="selfIntroduce" class="form-control"  name="selfIntroduce" placeholder="本人简历..." ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="spouseIntroduce" class="col-sm-2 control-label">配偶简历</label>
                                    <div class="col-sm-8">
                                        <textarea id="spouseIntroduce" class="form-control"  name="spouseIntroduce" placeholder="配偶简历..." ></textarea>
                                    </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="brothers" class="col-sm-2 control-label">同胞兄弟</label>
                                <div class="col-sm-8">
                                        <input id="brothers" name="brothers" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="sisters" class="col-sm-2 control-label">同胞姐妹</label>
                                    <div class="col-sm-8">
                                            <input id="sisters" name="sisters" type="text" class="form-control">
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label for="image" class="col-sm-2 control-label">本人照片</label>
                                    <div class="col-sm-8">
                                        <input id="image" name="image" type="file" class="form-control" value="CTO">
                                    </div>
                                </div>
                            <div class="form-group">
                                        <label for="image" class="col-sm-2 control-label">配偶照片</label>
                                        <div class="col-sm-8">
                                            <input id="image" name="image" type="file" class="form-control" value="CTO">
                                        </div>
                                    </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="children" class="col-sm-2 control-label">子女</label>
                                <div class="col-sm-8">
                                        <input id="children" name="children"  type="text" class="form-control"
                                        value="">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">邮箱</label>
                                    <div class="col-sm-8">
                                        <input id="email" name="email" type="email" placeholder="Email"
                                               class="form-control" placeholder="sunjianchun@huli.com">
                                    </div>
                                </div>
                            <div class="form-group">
                                    <label for="remark" class="col-sm-2 control-label">备注</label>
                                    <div class="col-sm-8">
                                            <textarea id="remark" class="form-control"  name="remark" placeholder="备注..." ></textarea>
                                    </div>
                                </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white"><a href="/juser/employees/list/">取消</a></button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script>
        $(document).ready(function(){
            $.getJSON("/api/person/list?name=孙", function(data) {
            var html = "< value=\"\" selected></option>";
                    $.each(data, function(i, field) {
                        html += "<option value=\"" + field.id + "\">" +field.name + "（爸爸：" + field.dad +" 妈妈：" + field.mom +"）</option>";
                    });
            $("#dadID").html(html);
                    
            });
        });
    </script>    
    {{template "footer"}}