{{template "header"}}
    <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>信息管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">仪表盘</a>
            </li>
            <li>
            
                <a>信息管理</a>
            
            </li>
            
            <li class="active">
                <strong>个人信息详情</strong>
            </li>
            
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary"><b>基本信息</b></span>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"></a>
                                </li>
                                <li><a href="#"></a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div class="text-left">
                                <table class="table">
                                    <tr>
                                        <td class="text-navy">姓名</td>
                                        <td id="name"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">父亲</td>
                                        <td id="dad"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">母亲</td>
                                        <td id="mom"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">年龄</td>
                                        <td id="age"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">生日</td>
                                        <td id="birthday"></td>
                                    </tr>
                                    
                                    <tr>
                                        <td class="text-navy">代数</td>
                                        <td id="generations"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">同胞总行</td>
                                        <td id="compatriotRank"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">同辈排行</td>
                                        <td id="fellowRank"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-navy">联系电话</td>
                                        <td id="phone"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                    <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary"><b>详细信息</b></span>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#"></a>
                                        </li>
                                        <li><a href="#"></a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div class="text-left">
                                        <span class="text-navy">个人简历</span><br/><br/>
                                        <span id="selfIntroduce"></span><br/><br/>
                                        <span class="text-navy">配偶简历</span><br/><br/>
                                        <span id="spouseIntroduce"></span><br/><br/>
                                        <span class="text-navy">同胞兄弟</span><br/><br/>
                                        <span id="borthers"></span><br/><br/>
                                        <span class="text-navy">同胞姐妹</span><br/><br/>
                                        <span id="sisters"></span><br/><br/>
                                        <span class="text-navy">子女</span><br/><br/>
                                        <span id="children"></span><br/><br/>
                                        <span class="text-navy">备注</span><br/><br/>
                                        <span id="remark"></span><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="col-sm-4">
                    <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary"><b>照片墙</b></span>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user">
                                        <li><a href="#"></a>
                                        </li>
                                        <li><a href="#"></a>
                                        </li>
                                    </ul>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div class="text-left">
                                        <div class="text-center"><span class="text-navy">本人照片</span></div><br/><br/>
                                        <div class="text-center"><img id="selfImage" src="/static/image/headimg/本人照片.jpeg" style="width: 200px;height:250px;"/></div><br/><br/>
                                        <div class="text-center"><span class="text-navy">配偶照片</span></div><br/><br/>
                                        <div class="text-center"><img id="selfImage" src="/static/image/headimg/配偶照片.jpeg" style="width: 200px;height:250px;"/></div><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
</div>

<script>
$(document).ready(function(){
    $.getJSON("/api/person/get?id={{ .userID }}", function(data) {
        if (data != null) {
                $("#name").html("<span class=\"label label-warning-light\">"+data.name+"</span>");
                $("#fellowRank").html(data.fellowRank);
                $("#compatriotRank").html(data.compatriotRank);
                $("#selfIntroduce").html(data.selfIntroduce);
                $("#spouseImageURL").html(data.spouseImageURL);
                $("#spouseIntroduce").html(data.spouseIntroduce);
                $("#age").html(data.age);
                $("#birthday").html(data.birthday);
                $("#phone").html(data.phone);
                $("#generations").html(data.generations);
                $("#mom").html(data.mom);
                $("#brothers").html(data.brothers);
                $("#sisters").html(data.sisters);
                $("#children").html(data.children);
                $("#remark").html(data.remark);

                $("#dad").html("<a href=\"/info/get?id=" + data.dadID +"\">"+ data.dad +"</a> ");
               
        }
})
});
</script>

{{template "footer"}}