<? include "contact-form/form.contact-form.php"; ?>
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

<title>个人信息</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index,follow" />

<link href="/static/personal/style/default.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/personal/style/google-map.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/static/personal/style/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="/static/personal/style/fontonimg.css" rel="stylesheet" type="text/css" media="fontonimg" />
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"/>

<!--[if (gte IE 6)&(lte IE 8)]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/selectivizr-min.js"></script>
<link rel="stylesheet" href="css/ie_7.css" type="text/css" />
<![endif]-->

<script src="/static/personal/js/jQuery.min.js"  type="text/javascript"></script>
<script src="/static/personal/js/functions.js"  type="text/javascript"></script>
<script src="/static/personal/contact-form/contact-form.js"  type="text/javascript"></script>

<!-- Image Gallery -->
<script type="text/javascript" src="/static/personal/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/static/personal/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/static/personal/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<!-- Popup Contact Form -->
<script src="/static/personal/js/popup.js" type="text/javascript"></script>  


<!-- Style Swticher -->
<script type="text/javascript" src="/static/personal/js/styleswitch.js"></script>
<link rel="stylesheet" type="text/css" href="/static/personal/style/big.css" title="big" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/blue.css" title="blue" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/blue2.css" title="blue2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/static/personal/style/br.css" title="br" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/brown.css" title="brown" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/bs.css" title="bs" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/cgrey.css" title="cgrey" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/dark.css" title="dark" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/orange.css" title="orange" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/purple.css" title="purple" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/white.css" title="white" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/yellow.css" title="yellow" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="/static/personal/style/mini.css" title="mini" media="screen" />


<style type="text/css">
/* Style Sheet Switcher */

.onpage-style-switcher{width:40px; position:absolute; margin-top:170px; padding-top:10px; padding-bottom:10px; background-color:#fff;}
.onpage-style-switcher li{ padding:0px; margin:1px 0px 0px 0px;}
.onpage-style-switcher li a{color:#fff; text-shadow:none;}
.onpage-style-switcher li a div:hover{padding-right:20px;}
</style>
<link href="/static/personal/style/popup.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<ul class="onpage-style-switcher">
	<li><a href="/static/personal/style/style=white" rel="white" class="styleswitch"><div style="background-color:#5FB053; height:25px; width:30px;"></div></a></li>
	<li><a href="/static/personal/style/style=big" rel="big" class="styleswitch"><div style="background-color:#1f3862; height:25px; width:30px;"></div></a></li>
	<li><a href="/static/personal/style/style=yellow" rel="yellow" class="styleswitch"><div style="background-color:#fdff01; height:25px; width:30px;"></div></a></li>
	<li><a href="/static/personal/style/style=br" rel="br" class="styleswitch"><div style="background-color:#9a1b1f; height:25px; width:30px;"></div></a></li>
    <li><a href="/static/personal/style/style=bs" rel="bs" class="styleswitch"><div style="background-color:#eb374b; height:25px; width:30px;"></div></a></li>
    <li><a href="/static/personal/style/style=brown" rel="brown" class="styleswitch"><div style="background-color:#2f2913; height:25px; width:30px;"></div></a></li>
    <li><a href="/static/personal/style/style=mini" rel="mini" class="styleswitch"><div style="background-color:#dedede; height:25px; width:30px;"></div></a></li>
    <li><a href="/static/personal/style/style=cgrey" rel="cgrey" class="styleswitch"><div style="background-color:#3c3d3f; height:25px; width:30px;"></div></a></li>
    <li><a href="/static/personal/style/style=orange" rel="orange" class="styleswitch"><div style="background-color:#bd492a; height:25px; width:30px;"></div></a></li>
	<li><a href="/static/personal/style/style=dark" rel="dark" class="styleswitch"><div style="background-color:#111111; height:25px; width:30px;"></div></a></li>
    <li><a href="/static/personal/style/style=blue2" rel="blue2" class="styleswitch"><div style="background-color:#359ccf; height:25px; width:30px;"></div></a></li>
	<li><a href="/static/personal/style/style=purple" rel="purple" class="styleswitch"><div style="background-color:#d34699; height:25px; width:30px;"></div></a></li>
	<li><a href="/static/personal/style/style=blue" rel="blue" class="styleswitch"><div style="background-color:#90d3d9; height:25px; width:30px;"></div></a></li>
</ul>
<div id="mydiv" class="success" style="display:none;">
Thank you for contacting me!
</div>
<div style="clear:both;"></div>
<!--map start-->
<div id="map-wrapper">
<div id="topLine"></div>
        <div id="topPanel">
		<div id="googleMap" class="googleMap" data-zoom="8" data-latitude="31.229009" data-longitude="73.859312" data-title="Rana Hunting Resort Restaurant">
		</div>
        <div class="gwrap">
            <div id="topPanelHandle"><span>google世界地图</span></div>
            </div>
	</div>
</div>
<!--map ends-->
<!--header start-->
<header class="header">
			<div class="headerwrapper">
             <!--<h1>孙建春</h1>-->
             <div class="clearfix"></div>
            </div>
</header>
<!--header end-->
			<!--wrapper start-->
			<div id="wrapper">
            <!--contents start-->
            <section id="contents">
             <!--main start-->
             <div id="main">
             <!--section start-->
             <div class="section">
              <h5>孙氏家族世录表</h5>
              <div class="work_item">
            <div class="winner_tag">Winner</div>            
               <div class="year"></div>
             <h3>本人简历</h3>
              <br />
              
               <p id="selfIntroduce"></p>
            </div>
              <div class="work_item">
            <div class="winner_tag">Winner</div>
            
               <div class="year"></div>
                <h3>配偶简历</h3>
            <br />
            <p id="spouseImageURL"></p>
              </div>
              <div class="work_item">
            <div class="winner_tag">Winner</div>
            
            <h3>父母</h3>
            <br />
            <p>父 <span id="dad"></span> 母 <span id="mom"></span></p>
              </div>
              <div class="work_item">
            <div class="winner_tag">Winner</div>
            
            <h3>同胞兄弟</h3>
            
            <br />
            <p><span id="brothers"></span></p>
            </div>
            
              <div class="work_item">
            <div class="winner_tag">Winner</div>
            
            <h3>同胞姐妹</h3>
            <br />
            <p><span id="sisters"></span></p>
              </div>
              <!--portfolio_item end-->
              <div class="work_item">
                    <div class="winner_tag">Winner</div>
                    
                    <h3>子女</h3>
                    <br />
                    <p><span id="children"></span></p>
                      </div>
                      <div class="work_item">
                            <div class="winner_tag">Winner</div>
                            
                            <h3>备注</h3>
                            <br />
                            <p><span id="remark"></span></p>
                              </div>
             
             </div>
              <!--section end-->
             
             <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" title="模板之家">模板之家</a></div>
             <div class="clearfix"></div>
             <br />
             <div class="section"></div>
             </div>
              <!--main end-->
            
           
          	 <!--sidebar start-->
             <aside id="sidebar">
             
             <!--section start-->
             <div class="section">
             
              <h5>基本信息</h5>
              
              
              <!--Contact_Info_items start-->
              <div class="contact_Info_items">
              <ul>
                <li class="pdf_icon">姓名：<span id="name"></span></li>
              <li class="web_icon">同辈行：<span id="fellowRank"></span></a></li>
               <li class="msg_icon">同胞总行：<span id="compatriotRank"></span></li>
                <li class="twitter_icon">年龄：<span id="age"></span></li>
                 <li class="skype_icon">生日：<span id="birthday"></span></li>
                  <li class="locate_icon">联系电话：<span id="phone"></span></li>
               </ul>
              </div>
             </div>
             <div class="section">
                    <h5>本人照片</h5>
                    <div class="contact_Info_items"> 
                            <img src="/static/personal/images/e.png" style="width:260px;height:360px;">
                    </div>
            </div>
              <div class="section">
                <h5>配偶照片</h5>
                <div class="contact_Info_items">            
                        <img src="/static/personal/images/配偶.jpg" style="width:260px;height:360px;" alt="">
 
                    </div>
             </div>
             <div class="section" id="twitter_section">
                    <h5>敬请期待</h5>
                    <div class="twitter_feed">
                        <div id="tweet1">
                               <p>敬请期待...</p>
                          </div>
                    </div>
                   </div>
             <div class="section">
              <div class="my_best_work">
              <ul class="gallery">
				<li><a href="/static/personal/images/fullscreen/1.jpg" rel="gallery" title="My Awesome Work Item 1"><img src="/static/personal/images/thumbnails/work_img_01.gif" width="76px" height="76px" alt="Awesome Painting" /></a></li>
                <li><a href="/static/personal/images/fullscreen/2.jpg" rel="gallery" title="This is an example title"><img src="/static/personal/images/thumbnails/work_img_02.gif" width="76px" height="76px" alt="Painting" /></a></li>
                <li class="last"><a href="/static/personal/images/fullscreen/3.jpg" rel="gallery" title="I love different titles"><img src="/static/personal/images/thumbnails/work_img_03.gif" width="76px" height="76px" alt="Character Design" /></a></li>
                <li><a href="/static/personal/images/fullscreen/4.jpg" rel="gallery" title="Lovely work!"><img src="/static/personal/images/thumbnails/work_img_04.gif" width="76px" height="76px" alt="Award Winning Character" /></a></li>
                <li><a href="/static/personal/images/fullscreen/5.jpg" rel="gallery" title="Awarded a shield on this"><img src="/static/personal/images/thumbnails/work_img_05.gif" width="76px" height="76px" alt="Beautiful" /></a></li>
                <li class="last"><a href="/static/personal/images/fullscreen/6.jpg" rel="gallery" title="Beautiful!!!"><img src="/static/personal/images/thumbnails/work_img_06.gif" width="76px" height="76px" alt="Character Painting" /></a></li>
			</ul>
              </div>
             </div>


             
</div>
             </aside>
           <div style="clear:both;"></div>
             
			</section>
            <!--contents end-->
            
            </div>
			<!--wrapper end-->
          

<script src="/static/personal/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" charset="utf-8">
 
$(document).ready(function(){
    $.getJSON("/api/person/get?id={{ .userID }}", function(data) {
        if (data != null) {
                $("#name").html(data.name);
                $("#fellowRank").html(data.fellowRank);
                $("#compatriotRank").html(data.compatriotRank);
                $("#selfIntroduce").html(data.selfIntroduce);
                $("#spouseImageURL").html(data.spouseImageURL);
                $("#age").html(data.age);
                $("#birthday").html(data.birthday);
                $("#phone").html(data.phone);
                $("#mom").html(data.mom);
                $("#brothers").html(data.brothers);
                $("#sisters").html(data.sisters);
                $("#children").html(data.children);
                $("#remark").html(data.remark);

                if (data.dad != null) {
                    $.getJSON("/person/get?id=" + data.dad + "", function(dad) {
                        $("#dad").html(dad.name);
                    });
                }
               
        }
});
 $("a[rel=gallery]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'titlePosition' 	: 'over',
				'titleFormat'		: function(title, currentArray, currentIndex, currentOpts) {
					return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
				}
			});
			$('#bandar').css('display','none');
			var sentParts = window.location.href.toString().split('?');
			if(sentParts.length > 1)
			if(sentParts[1] ='sent'){
			$('#mydiv').css('display','');
			        setTimeout(function() {
					    $('#mydiv').fadeOut('fast');
					}, 3000);
			}
			
			
			
			});
			</script>
<script type="text/javascript" src="/static/personal/js/twitter.js"></script>      




<!-- Contact Form Start -->
     
<div id="popupContact">  
        <a id="popupContactClose"><img src="/static/personal/images/x.gif" alt="Close" /></a>  
        <h2>Lets Meet!</h2>  
        <p id="contactArea">  
            <div id="contact-form">

            <form name="contact" action="<?=$_SERVER['PHP_SELF']?>" method="post" onSubmit="return validateForm();">
                <table cellpadding="8" cellspacing="10">
                    <tr>
                        <td><label>Your Name <span class="req">*</span></label></td>
                        
                    </tr>
                    <tr>
                        <td><input type="text"  id="sender_name"  name="sender_name" /></td>
                    </tr>
                    
                    <tr>
                    	<td><label>Your E-Mail <span class="req">*</span></label></td>
                    </tr>
                    
                    <tr>
                    	<td ><input type="text" id="sender_email" name="sender_email" /></td>
                    </tr>
                    
                    <tr>
                    	<td><label>Message </label></td>
                    </tr>
                    
                    <tr>
                    	<td ><textarea id="sender_message" name="sender_message" cols="" rows="" style="width:380px; height:80px;"></textarea></td>
                    </tr>
                    
                    <tr>
                    	<td>
                        	<input type="submit" name="submitForm" value="Submit" class="button m grey-gloss" />
                        	<span id="bandar"><img src="/static/personal/images/loader.gif" alt="Progress indicator..." /></span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="4">
                        <p id="form_errors"></p>
                        <p id="form_thanks"></p>
                        </td>
                    </tr>
                </table>
            </form>
        
                </div>
            
            
        </p>  
    </div>   
<div id="backgroundPopup"></div>
  
<!-- Contact Form End -->
    
      
</body>
</html>
