{{template "header"}}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10">
        <h2>信息管理</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">仪表盘</a>
            </li>
            <li>
            
                <a>信息管理</a>
            
            </li>
            
            <li class="active">
                <strong>信息查询</strong>
            </li>
            
        </ol>
    </div>
    <div class="col-sm-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5> 成员信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapise-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <form id="user_form">
                        <div class="">
                            <div class="col-sm-8" style="padding-left: 0px">
                                <label>
                                    <select name="user_group" class="form-control m-b input-sm" onchange="change_info()">
                                        <option value="">第几代</option>
                                    </select>
                                </label>
                                <label>
                                    <select name="user_sex" class="form-control m-b input-sm" onchange="change_info()">
                                        <option value="">性别</option>
                                        <option value="男" >男</option>
                                        <option value="女" >女</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-3" style="padding-right: 0">
                                <form id="search_form" method="get" action="" class="pull-right mail-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm" id="search_input" name="keyword" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button id='search_btn' type="submit" class="btn btn-sm btn-primary">
                                                -搜索-
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
    

                        </div>
                        <table class="table table-striped table-bordered table-hover " id="editable" >
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <input type="checkbox" id="check_all" onclick="checkAll('check_all', 'checked')">
                                    </th>
                                    <th class="text-center">序号</th>
                                    <th class="text-center">姓名</th>
                                    <th class="text-center">同胞行</th>
                                    <th class="text-center">同辈总行</th>
                                    <th class="text-center">性别</th>
                                    <th class="text-center">年龄</th>
                                    <th class="text-center">出生年月</th>
                                    <th class="text-center">父亲</th>
                                    <th class="text-center">母亲</th>
                                    <th class="text-center">联系电话</th>
                                    <th class="text-center">代数</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody id="user_form_tbody">
                            
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $.getJSON("/api/person/list?name=孙", function(data) {
                var html = '';
                $.each(data, function(i, field) {
                    if (field.mom != undefined && field.mom.length > 10) {
                        field.mom = field.mom.substr(0,6);
                    }
                        html += '<tr><td class=\"text-center\"><input type=\"checkbox\" id=\"check_all\" ></td><td class=\"text-center\">' + (i+1) + '</td><td class=\"text-center\">' + field.name + '</td><td class=\"text-center\">' + field.fellowRank + '</td><td class=\"text-center\">' + field.compatriotRank  + '</td><td class=\"text-center\">' + field.sex + '</td><td class=\"text-center\">' + field.age + '</td><td class=\"text-center\">' + field.birthday + '</td><td class=\"text-center\">' + field.dad + '</td><td class=\"text-center\">' + field.mom + '</td><td class=\"text-center\">' + field.phone + '</td><td class=\"text-center\">' + field.generations + '</td><td class=\"text-center\"><a href=\"/info/tree?id=' + field.id + '\" class=\"btn btn-xs btn-primary\">查看个人树</a></td></tr>'
                });
                
                $("#user_form_tbody").html(html);
        });

        $('.del').click(function(){
            var row = $(this).closest('tr');
            if (confirm("确定删除该邮件模板？")) {
            $.get(
                    $(this).attr('value'),
                    {},
                    function(data){
                        row.remove();
                        alert(data);

                    }
            )}
        });
        $("tbody tr").shiftcheckbox({
            checkboxSelector: 'input:checkbox',
            selectAll: $('#select_all'),
            ignoreClick: 'a'
        });
        $('.shiftCheckbox').shiftcheckbox();
    });
function change_info(){
        var args = $("#user_form").serialize();
        window.location = "/juser/user/list/?" + args
    };
</script>
{{template "footer"}}